@import url("bootstrap.min.css");

@media (min-width: 1200px) {
  .container {
    width: 960px;
   }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
   }
 }

body{
    background: #E9E9E9;
    background-image: url("../img/backgroundimg.png");
}

#demo{
    background: #E9E9E9;
    background-image: url("../img/backgroupOpen.png");
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}
.nation{
    margin-left: 15px;
}

.myImg{
    width: 230px;
    height: 200px;
}
.myImg:hover{
    cursor:pointer;
}

.infoHeight{
    min-height: 165px;
}

.blurLabel{
    font-size: 11px;
    color: #999;
}

.sendMail{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.dropdownMail{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn-group:hover .dropdown-menu {
    display: block;
}

.btn-group:hover a:hover .dropdown-menu {
    display: none;
}

.name{
    font-size: 35px;
}

.job{
    font-size: 18px;
}

.margin{
    margin-left: 15px;
}

.backgroundClass{
    background: #333333;
    color: white;
    margin-top: -15px;
    text-align: center;
    font-size: 17px;
    line-height: 50px;
    
}
.partTitle{
    font-size: 20px;
}
.comimg{
    width: 100px;
    height: 75px;
}

.personalImg{
    width: 50px;
    height: 50px;
}
.inIcon{
    width: 15px;
    height: 15px;
}

.infoButton{
    text-align: center;
    background: #EEE;
}

.textareainDialog {
    resize: vertical;
    min-height: 200px;
    max-height: 350px;
}

.textareaDes{
    resize: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.projectHeader{
    font-size: 20px;
}