@import url("bootstrap.min.css");

@media (min-width: 1200px) {
  .container {
    width: 960px;
   }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
   }
 }

.myImg{
    width: 200px;
    height: 200px;
}

.infoHeight{
    min-height: 165px;
}

.blurLabel{
    font-size: 11px;
    color: #999;
}

.sendMail{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.dropdownMail{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn-group:hover .dropdown-menu {
    display: block;
}

.btn-group:hover a:hover .dropdown-menu {
    display: none;
}

.name{
    font-size: 35px;
}

.backgroundClass{
    background: #333333;
    color: white;
    margin-top: -15px;
    text-align: center;
    font-size: 17px;
    line-height: 50px;
    
}
.partTitle{
    font-size: 20px;
}
.comimg{
    width: 100px;
    height: 50px;
}

.personalImg{
    width: 50px;
    height: 50px;
}
.inIcon{
    width: 20px;
    height: 20px
}
.infoButton{
    margin-top: -10px;
    text-align: center;
    padding-right: 17px;
    
}